h1 {
    text-shadow: black 1px 1px 0px;
    color: rgb(161, 3, 3);
    font-size:65px;
}

h2 {
    text-shadow: rgb(161, 2, 2) 0px 1px 1px;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

h3 {
    color:rgb(161, 3, 3);
    border: solid 3px;
    border-radius: 15px;
    height: 38px;
    width: 25%;
    min-width: fit-content;
    background-color: white;
    text-shadow: black 0.5px 1px 0.5px;
    font-size:30px;
    padding:1px;
}

h4 {
    border:rgba(0, 0, 0, 0) groove;
    border-radius: 5px;
    height: max-content;
    width: max-content;
    background-color: rgba(169, 169, 169, 0.527);
    color: rgb(0, 0, 0);
    font-size: 21px;
    text-shadow: rgb(114, 88, 139) 1px 1px 1px, rgb(141, 207, 230) 3px 3px 2px;
}

img {
    display: auto;
    height: 250px;
    width: 250px;
    padding: 2px;
    border: rgb(15, 0, 68) solid 5px;
    border-radius: 4px;
}

hr {
    border: solid 1px;
    color:darkblue;
}

p {
    padding-top: 8px;
    height: 30px;
    width: 95%;
    background-color: rgba(33, 25, 71, 0.5);
    text-shadow: black 1px 1px 0px;
    font-size: 18px;
    color:rgb(255, 255, 255)
}

a {
    font-weight: bold;
    color:rgb(236, 186, 186)
}

figcaption {
    text-shadow: black 2px 2px 2px;
    font-size: 15px;
    color: white;
}

strong {
    font-size: 19px;
    text-shadow: rgb(90, 0, 0) 2px 2px 1px;
}

.row {
    display: flex;
    justify-content: center;
}

.container {
    overflow: hidden;
    min-width: fit-content;
    margin: auto;
    background-color: rgb(88, 96, 141);
    width: 85%;
}